<div *ngIf="showStudent" style="margin-left:1%;" >
  <button type="button"(click)="addStudent()" class="btn"><i class="material-icons">add</i></button>
  <input type="text" style="margin-left: 82%;" placeholder="Rechercher un étudiant" />
   <br><br>
  <table class="table table-striped table-light" style="text-align: center;"> 
  <thead class="thead-light">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
      <th>Numero national</th>
      <th>Numero d'apogée</th>
      <th>Cin</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.firstName | titlecase}}</td>
      <td>{{ person.lastName | titlecase }}</td>
      <td>{{ person.numeroNational }}</td>
      <td>{{person.numeroApogee}}</td>
      <td>{{person.cin}}</td>
      <td>{{person.age}}</td>
      <td><button type="button" (click)="studentInformations(person.id)" mat-button><i class="material-icons" >info</i></button> &nbsp;<button type="button" (click)="editStudent(person.id)" mat-button><i class="material-icons" >update</i></button> &nbsp; <button type="button" (click)="deleteStudent(person.id)" mat-button><i class="material-icons" >remove_circle_outline</i></button></td>
    </tr>
  </tbody>
   
    
   </table>
</div>  
<div *ngIf="!showStudent" >
    <div class="example-container">
      <button (click)="showStudent=true">Show Student</button>
       <!--  <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
</div>